# Import libraries

In [0]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from random import randint
from numpy import array
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
import tensorflow as tf

# Set parameters

In [0]:
####################################################
# PARAMETERS
####################################################

VALUE_COUNT_TRAIN = 10000
MAX_VALUE_TRAIN = 500
MAX_VALUE_TEST = 500
EPOCHS = 50
BATCH_SIZE = 128
VERBOSE = 1
ACTIVATION = 'linear'

####################################################

# Create Numpy ndarray triples with two numbers and sum

In [0]:
def create_triples (count, max):
    numbers = list ()
    result = list ()
    for n in range (count):
        numbers.append ([randint (0, max), randint (0, max)])
        result.append (sum (numbers[n]))
    numbers = array (numbers)
    result = array (result)
    return numbers, result

# Denormalize numbers

In [0]:
def denormalize (value, max):
    return value * float (max * 2.0)

# Normalize number to range 0..1

In [0]:
def normalize (value, max):
    return value.astype ('float') / float (max * 2.0)

# Create model

In [0]:
def model_create (act):
    model = Sequential()
    model.add (Dense (3, input_dim = 2, activation = act))
    model.add (Dense (5, activation = act))
    model.add (Dense (1, activation = act))
    model.compile (loss='mean_squared_error', optimizer='adam')
    return model

# Train model

In [0]:
def model_train (model):
        x, y = create_triples (VALUE_COUNT_TRAIN, MAX_VALUE_TRAIN)
        x2 = normalize (x, MAX_VALUE_TRAIN)
        y2 = normalize (y, MAX_VALUE_TRAIN)
        model.fit (x2,
               y2,
               epochs = EPOCHS,
               batch_size = BATCH_SIZE,
               verbose = VERBOSE)

# Create and show model

In [9]:
model = model_create (ACTIVATION)
model.summary ()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 3)                 9
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 20
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 35
Trainable params: 35
Non-trainable params: 0
_________________________________________________________________

# Train model

In [10]:
model_train (model)

Epoch 1/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0618
Epoch 2/50
79/79 [==============================] - 0s 953us/step - loss: 0.0152
Epoch 3/50
79/79 [==============================] - 0s 2ms/step - loss: 0.0124
Epoch 4/50
79/79 [==============================] - 0s 944us/step - loss: 0.0094
Epoch 5/50
79/79 [==============================] - 0s 941us/step - loss: 0.0064
Epoch 6/50
79/79 [==============================] - 0s 967us/step - loss: 0.0037
Epoch 7/50
79/79 [==============================] - 0s 1000us/step - loss: 0.0017
Epoch 8/50
79/79 [==============================] - 0s 967us/step - loss: 5.8213e-04
Epoch 9/50
79/79 [==============================] - 0s 989us/step - loss: 1.5037e-04
Epoch 10/50
79/79 [==============================] - 0s 999us/step - loss: 2.8926e-05
Epoch 11/50
79/79 [==============================] - 0s 944us/step - loss: 4.2820e-06
Epoch 12/50
79/79 [==============================] - 0s 1ms/step - loss: 5.2092e-07
Epoch 13/50
79/79 [==============================] - 0s 1ms/step - loss: 5.1635e-08
Epoch 14/50
79/79 [==============================] - 0s 952us/step - loss: 4.2129e-09
Epoch 15/50
79/79 [==============================] - 0s 962us/step - loss: 2.8186e-10
Epoch 16/50
79/79 [==============================] - 0s 964us/step - loss: 1.5863e-11
Epoch 17/50
79/79 [==============================] - 0s 967us/step - loss: 8.2301e-13
Epoch 18/50
79/79 [==============================] - 0s 1ms/step - loss: 3.3674e-13
Epoch 19/50
79/79 [==============================] - 0s 976us/step - loss: 2.6653e-13
Epoch 20/50
79/79 [==============================] - 0s 990us/step - loss: 2.0536e-13
Epoch 21/50
79/79 [==============================] - 0s 968us/step - loss: 1.4533e-13
Epoch 22/50
79/79 [==============================] - 0s 1ms/step - loss: 1.0137e-13
Epoch 23/50
79/79 [==============================] - 0s 1ms/step - loss: 6.9676e-14
Epoch 24/50
79/79 [==============================] - 0s 1ms/step - loss: 4.8423e-14
Epoch 25/50
79/79 [==============================] - 0s 960us/step - loss: 3.4511e-14
Epoch 26/50
79/79 [==============================] - 0s 955us/step - loss: 2.7324e-14
Epoch 27/50
79/79 [==============================] - 0s 972us/step - loss: 2.4663e-14
Epoch 28/50
79/79 [==============================] - 0s 1ms/step - loss: 2.3299e-14
Epoch 29/50
79/79 [==============================] - 0s 971us/step - loss: 2.0554e-14
Epoch 30/50
79/79 [==============================] - 0s 972us/step - loss: 1.8093e-14
Epoch 31/50
79/79 [==============================] - 0s 976us/step - loss: 1.6523e-14
Epoch 32/50
79/79 [==============================] - 0s 945us/step - loss: 1.4831e-14
Epoch 33/50
79/79 [==============================] - 0s 983us/step - loss: 1.4349e-14
Epoch 34/50
79/79 [==============================] - 0s 959us/step - loss: 1.3076e-14
Epoch 35/50
79/79 [==============================] - 0s 927us/step - loss: 1.2065e-14
Epoch 36/50
79/79 [==============================] - 0s 1ms/step - loss: 1.1275e-14
Epoch 37/50
79/79 [==============================] - 0s 947us/step - loss: 9.6799e-15
Epoch 38/50
79/79 [==============================] - 0s 932us/step - loss: 9.2555e-15
Epoch 39/50
79/79 [==============================] - 0s 918us/step - loss: 8.6631e-15
Epoch 40/50
79/79 [==============================] - 0s 904us/step - loss: 7.9186e-15
Epoch 41/50
79/79 [==============================] - 0s 1ms/step - loss: 6.9384e-15
Epoch 42/50
79/79 [==============================] - 0s 992us/step - loss: 6.1850e-15
Epoch 43/50
79/79 [==============================] - 0s 990us/step - loss: 5.9037e-15
Epoch 44/50
79/79 [==============================] - 0s 1ms/step - loss: 5.7314e-15
Epoch 45/50
79/79 [==============================] - 0s 1ms/step - loss: 5.5428e-15
Epoch 46/50
79/79 [==============================] - 0s 974us/step - loss: 5.2084e-15
Epoch 47/50
79/79 [==============================] - 0s 1ms/step - loss: 5.1208e-15
Epoch 48/50
79/79 [==============================] - 0s 1ms/step - loss: 4.8554e-15
Epoch 49/50
79/79 [==============================] - 0s 945us/step - loss: 4.0693e-15
Epoch 50/50
79/79 [==============================] - 0s 1ms/step - loss: 3.6251e-15

# Prediction

In [0]:
x, y = create_triples (10, MAX_VALUE_TEST)
x2 = normalize (x, MAX_VALUE_TEST)
testresult = model.predict (x2, batch_size = 128, verbose = 0)

# Show result

In [12]:
print ('Count      Number1        Number2       Total            Right           Error')
for i in range (len (testresult)):
    number1 = denormalize (x2[i][0], MAX_VALUE_TEST)
    number2 = denormalize (x2[i][1], MAX_VALUE_TEST)
    total = denormalize (testresult[i][0], MAX_VALUE_TEST)
    print ('{:4d}. {:12.3f} + {:12.3f} = {:12.3f} === {:12.3f} {:12.3f}'.format (
		i + 1, number1, number2, total, number1 + number2, abs(total - (number1 + number2)))
	)

Count      Number1        Number2       Total            Right           Error
   1.      472.000 +      245.000 =      717.000 ===      717.000        0.000
   2.      215.000 +       78.000 =      293.000 ===      293.000        0.000
   3.      154.000 +      211.000 =      365.000 ===      365.000        0.000
   4.       98.000 +       19.000 =      117.000 ===      117.000        0.000
   5.      232.000 +      258.000 =      490.000 ===      490.000        0.000
   6.      358.000 +       76.000 =      434.000 ===      434.000        0.000
   7.      491.000 +        4.000 =      495.000 ===      495.000        0.000
   8.       66.000 +      498.000 =      564.000 ===      564.000        0.000
   9.      161.000 +      212.000 =      373.000 ===      373.000        0.000
  10.      384.000 +      427.000 =      811.000 ===      811.000        0.000